h1{
    text-align: center;
    color: white;
}

body{
    text-align: center;
    color: white;
}

.slika1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    color: white;
    text-align: center;
}